invoice-creator-client/node_modules
invoice-creator-server/__pycache__
invoice-creator-server/.idea
invoice-creator-server/.venv
invoice-creator-server/invoice_creator.db
invoice-creator-server/.env
invoice_creator-server/build
invoice_creator-server/templates/__pycache__